

.block {
    margin: 40px;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    /* align-content: stretch; */
    background: #FFFFFF;
    border: 5px solid #748BDD;
    box-shadow: inset 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 25vw;
    height: 25vw;
    min-width: 300px;
    min-height: 300px;
    padding: 2.5%;
    z-index: 2;
    margin: 3%;
}
.blockInner {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    align-items: center;
}
.blockImg {
    width: 60%;
    height: 68px;
    min-width: 200px;
}

.tags {
    max-width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.tagItem {
    margin: 5px 15px;
    width: 35%;
    /* Rounded rectangle */

    padding: 10px 7px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;



font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
letter-spacing: 0.03em;
color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
    .tagItem {
        margin: 2px 5px;;
    }
}
.tagItem:nth-child(1) {
    background: #6A80CC;

}

.tagItem:nth-child(2) {
    background: #45BB64;

}

.tagItem:nth-child(3) {
    background: #EA6CBF;

}
.blockInfo {
    margin: 8% 0;
}
.date {

    margin: 0.3vw 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    /* line-height: 39px; */
    letter-spacing: 0.03em;

    color: #000000;


}
.subtitle {
font-size: 12px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
/* line-height: 24px; */
letter-spacing: 0.03em;

color: rgba(0, 0, 0, 0.5);


}

.btn {
    /* Rounded rectangle */
    width: 100%;
    max-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5px;
    background: #FFFFFF;
    border: 2px solid #748BDD;
    border-radius: 25px;
    font-family: 'Montserrat';

}