.container {
    /* background-color: #9DAFED; */
    background: url("../../assets/bgEvents.png");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    /* border-radius: 40px; */
    width: 600px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }
  h3 {
    color: white;

  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterButton {
    background-color: #8aa78b;
    color: white;
    border: none;
    padding: 16px 35px;
    cursor: pointer;
    transform: translate(-85px, -10px);

border-radius: 40px;

  }
  
  .filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .searchButton {
    transform: translate(7px, 35px);
    background-color: #687ad1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    width: 140px;
    align-self: center;
  }