.container {
    /* background-color: #9DAFED; */
    background: url("../../assets/bgEvents.png");
    background-size: contain;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    /* border-radius: 40px; */
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: space-between;
    flex-direction: column;
    position: relative;
        /* background-color: #9DAFED; */

  }
.title {
    color: white;

font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 78px;
/* identical to box height */
letter-spacing: 0.07em;

color: #4D5A89;


  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filterButton {
    background-color: #8aa78b;
    color: white;
    border: none;
    padding: 16px 35px;
    cursor: pointer;
position: absolute;
top: 0;
right: 22%;

border-radius: 40px;

  }
  
  .filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .searchButton {
    transform: translate(7px, 35px);
    background-color: #687ad1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    width: 140px;
    align-self: center;
  }